/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.loginRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form input:focus:not([readonly]) {
  border-bottom: 1px solid #ff8a65  !important;
  box-shadow: 0 1px 0 0 #ff8a65  !important;
}
form i.active, label.active {
  color: #ff8a65  !important;
}
